winfra/lib/winfra/templates/stack-on-off/step-functions.json
{
  "Comment": "An example of the Amazon States Language using a parallel state to execute two branches at the same time.",
  "StartAt": "Send Notification",
  "States": {
    "Send Notification": {
      "Type": "Task",
      "Resource": "",
      "Next": "RestoreRDS"
    },
    "RestoreRDS": {
      "Type": "Task",
      "Resource": "",
      "ResultPath": "$.rdsSnapshot",
      "Next": "RestoreBeanstalk"
    },
    "RestoreBeanstalk": {
      "Type": "Task",
      "Resource": "",
      "ResultPath": "$.beanstalkTemplate",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Next": "Add Security Group Rule",
      "Branches": [{
        "StartAt": "Request RDS Status",
        "States": {
          "Request RDS Status": {
            "Type": "Task",
            "Resource": "",
            "ResultPath": "$.rdsStatus",
            "Next": "Check If Ready"
          },
          "Wait Thirty Seconds": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Request RDS Status"
          },
          "Check If Ready": {
            "Type": "Choice",
            "Choices": [{
              "Variable": "$.rdsStatus",
              "StringEquals": "available",
              "Next": "End1"
            }],
            "Default": "Wait Thirty Seconds"
          },
          "End1": {
            "Type": "Succeed"
          }
        }
      }, {
        "StartAt": "Request Beanstalk Status",
        "States": {
          "Request Beanstalk Status": {
            "Type": "Task",
            "Resource": "",
            "ResultPath": "$.beanstalkStatus",
            "Next": "Check If Beanstalk Ready"
          },
          "Wait Thirty Seconds2": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Request Beanstalk Status"
          },
          "Check If Beanstalk Ready": {
            "Type": "Choice",
            "Choices": [{
              "Variable": "$.beanstalkStatus",
              "StringEquals": "Ready",
              "Next": "End"
            }],
            "Default": "Wait Thirty Seconds2"
          },
          "End": {
            "Type": "Succeed"
          }
        }
      }]
    },
    "Add Security Group Rule": {
      "Type": "Task",
      "Resource": "",
      "Next": "Deploy Beanstalk"
    },
    "Deploy Beanstalk": {
      "Type": "Task",
      "Resource": "",
      "Next": "Delete Snapshot and Template"
    },
    "Delete Snapshot and Template": {
      "Type": "Task",
      "Resource": "",
      "Next": "Send Final Notification"
    },
    "Send Final Notification": {
      "Type": "Task",
      "Resource": "",
      "End": true
    }
  }
}
